*__pycache__*

\.idea
playground*
*\.pyc
/dist/
/*.egg-info
build/*
\.cache*
\.eggs/*
logos\.sh
*wheel*
*sdist*
*dist
*egg-info
node_modules/*
*\.log
\.tox
\.coverage
coverage\.xml
htmlcov
appveyor-tools
package.json
package-lock.json
.vscode/
.ipynb_checkpoints/
