include README.rst
include AUTHORS.rst
include CHANGELOG.rst

include LICENSE.txt
include requirements.txt

include src/music_album_creation/format_classification/data/*
include src/music_album_creation/display-logo.sh
include tests/know_your_enemy.mp3
include tests/data/album_0/*

graft src
graft tests

include .travis.yml
include .scrutinizer.yml
include appveyor.yml

include .bandit.yml

include .coveragerc
include tox.ini

graft .travis

global-exclude *.py[cod] __pycache__ *.so *.dylib


recursive-include ci *.cmd
recursive-include ci *.py

